doctype html
html(ng-app='rapsheet')
  head
    title Rapsheet
    base(href='/')
    meta(charset='utf-8')
    meta(name='viewport',     content='width=device-width, initial-scale=1.0')
    meta(name='description'   content='')
    meta(name='keywords'      content='')
    meta(name='robots'        content='index, follow')
    meta(name='revisit-after' content='7 days')
  body